<section>
  <h3>About This Human</h3>
  <div>
    <i>
      I go bouldering twice a week at one of the local rock climbing gyms, am
      starting to get into woodworking, and enjoy reading sci-fi and fantasy
      novels.
    </i>
  </div>
</section>
