---
import SectionTitle from './SectionTitle.astro';
---

<section>
  <SectionTitle>Education</SectionTitle>
  <div>
    <strong>Vanderbilt University</strong>, Nashville, TN | Bachelor of
    Engineering in Biomedical Engineering
  </div>
  <div>
    <strong>HackReactor</strong> | Advanced Software Engineering Immersive Program
  </div>
</section>
