<section>
  <h3>Education</h3>
  <div>
    <strong>Vanderbilt University</strong>, Nashville, TN | Bachelor of
    Engineering in Biomedical Engineering
  </div>
  <div>
    <strong>HackReactor</strong> | Advanced Software Engineering Immersive Program
  </div>
</section>
