---
import JobEntry from '../../layouts/resume/JobEntry.astro';

const jobEntries = await Astro.glob('../../data/job-entries/*.{md,mdx}'); //todo sort
---

<section>
  <h3>Professional Experience</h3>
  {
    jobEntries.map((entry) => (
      <JobEntry {...entry.frontmatter}>{<entry.Content />}</JobEntry>
    ))
  }
</section>
