---
import BasePage from '../layouts/BasePage.astro';
import SkillsComponent from '../components/resume/Skills.astro';
import Education from '../components/resume/Education.astro';
import AboutMe from '../components/resume/AboutMe.astro';
import JobEntries from '../components/resume/JobEntries.astro';
---

<BasePage>
  <div class="resume-page">
    <JobEntries />
    <SkillsComponent />
    <Education />
    <AboutMe />
  </div>
  <style>
    body {
      margin: 0 5%;
    }

    .resume-page {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    h3 {
      margin: 0;
    }
  </style>
</BasePage>
