---
import BasePage from '../layouts/BasePage.astro';
import SkillsComponent from '../components/resume/Skills.astro';
import Education from '../components/resume/Education.astro';
import AboutMe from '../components/resume/AboutMe.astro';
import JobEntries from '../components/resume/JobEntries.astro';
---

<BasePage>
  <h5>
    benjamin.t.childs@gmail.com | 817-360-0163 | Austin, TX | <a
      href="www.github.com/bchilds">github.com/bchilds</a
    >
  </h5>
  <JobEntries />
  <SkillsComponent />
  <Education />
  <AboutMe />
</BasePage>
