---
// import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
  <h1>
    {SITE_TITLE}
  </h1>
  <h5>
    <a
      href="mailto:benjamin.t.childs@gmail.com"
      target="_blank"
      >benjamin.t.childs@gmail.com</a
    >
    | 817-360-0163 | Austin, TX | <a
      href="https://www.github.com/bchilds"
      target="_blank"
      >github.com/bchilds</a
    >
  </h5>
  <!-- <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/resume'>Resume</HeaderLink>
  </nav> -->
  <style>
    h1 {
      margin: 0;
      align-self: center;
      color: rgb(18, 119, 53, 1);
    }

    h5 {
      margin-bottom: 20px;
    }
  </style>
</header>
