---
// import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
  <h1>
    {SITE_TITLE}
  </h1>
  <!-- <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/resume'>Resume</HeaderLink>
  </nav> -->
  <style>
    h1 {
      margin: 0;
      align-self: center;
    }
  </style>
</header>
