---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  companyName: string;
  title: string;
  startDate: number;
  endDate?: number | 'present';
}>;

const { companyName, title, startDate, endDate = 'present' } = Astro.props;
---

<section>
  <h3><strong>{companyName}</strong> | {title} | {startDate} - {endDate}</h3>
  <slot />
</section>
