---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  companyName: string;
  title: string;
  startDate: number;
  endDate?: number | 'present';
}>;

const { companyName, title, startDate, endDate = 'present' } = Astro.props;
---

<style>
  .company-name {
    color: rgb(18, 119, 53, 1);
  }

  h4 {
    margin: 0;
  }
</style>

<section>
  <h4>
    <strong><span class="company-name">{companyName}</span></strong> | {title} |
    {startDate} - {endDate}
  </h4>
  <slot />
</section>
