---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

export type Props = {
  bodyClass?: string;
};
---

<html lang="en">
  <BaseHead />
  <Header />
  <body class={Astro.props.bodyClass}>
    <slot />
    <Footer />
  </body>
</html>
