---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style></style>
  </head>
  <body>
    <Header />
    <h2>Benjamin Childs</h2>
    <h3>
      benjamin.t.childs@gmail.com | 817-360-0163 | Austin, TX | <a
        href='www.github.com/bchilds'>github.com/bchilds</a
      >
    </h3>
  </body>
</html>
